*__pycache__
.venv
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info
*.coverage
*.mypy_cache
*.pytest_cache
*.vscode
*.idea
*.ipynb_checkpoints
*.swp
*.bak   
*.tmp
*.orig
*.pid
*.seed
*.coverage.xml
*.html
*.xml
*.json
*.csv
*.xlsx  
